.generaltext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;

}
.text_12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.green_titles {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #00772D;
}
.text_14_bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.navigation {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #8A8A8A;
}
.text_14_bold_green {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #00772D;
}
.Titles {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}
.Capmaigns_titles {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #00772D;
}
.grbox_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}
.green_text_normal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00772D;
}
.small {  font-size: 8pt; font-family: Arial, Helvetica, sans-serif}
.text_24_bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
}
.gray_14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
}
.green_12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #00772D;
}
.green18 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #00772D;
}
p {  font-family: Arial, Helvetica, sans-serif}
.red {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
}
.navig {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
.bw_table_border {  border: 1px #000000 solid
}
.gr_table_border {
	border: 1px solid #00772D;
}
.Subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bolder;
	color: #8A8A8A;
}
.navigation_italics {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: italic;
	color: #000000;
}
.navigation_italics_grey {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: italic;
	color: #8A8A8A;
}
